header {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

  #logo {
    fill: rgb(46, 105, 153);
    padding-top: 10px;
    align-items: center;
  }

  button {
    // align-items: flex-end;
  }
}

main {
  display: flex;

  .sidebar {
    width: 300px;
    padding-left: 10px;

    // border-right: solid 5px lightgrey;


    .save-load-bldt {
      margin-bottom: 20px;
    }

    .search-text {
      margin-bottom: 20px;
    }

    .input-grp {
      margin-bottom: 20px;

      .gear-input {

      }

      .search-btn {

      }
    }
  }

  .bldt-area {
    // align-items: center;
    // overflow-x: scroll;

    .bldt-info {
      display: flex;
      justify-content: center;
      // align-items: center;
      .bldt-title {

      }

      .totals {
        margin-right: 5vw;
        display: flex;
        align-items: center;

      }

    }

    .head-row {
      padding-left: 155px;
      display: flex;


      .head-box {
        margin-right: 100px;
      }
      // iframe:hover {
      //   width: 500px;
      //   height: 500px;
      // }
    }

    .torso-hands-row {
      display: flex;

      .hands-col {
        width: 100px;
      }

      .torso-col {
        display: flex;

      }

    }

    .hand-legs-row {
      display: flex;

      .hand-col {
        width: 100px;
      }

      .legs-col {
        display: flex;
      }
    }

    .feet-row {
      padding-left: 130px;
      display: flex;

      .feet-box {
        display: flex;
        margin-right: 20px;
      }
    }

    // .shoes-row {
    //   padding-left: 140px;
    //   display: flex;
    // }
  }
}

footer {
  text-align: center;
  background-color: lightgrey;
}

#iframe-div-sml {
    width    : 90px;
    height   : 100px;
    overflow : hidden;
    position : relative;
    transition-duration: 0.25s;
}
#iframe-sml {
    position : absolute;
    top      : -330px;
    left     : -5px;
    width: 200px;
}
#iframe-div-sml:hover {
  // width: 190px;
  height: 200px;
  transition-delay: 0.5s;
  transition-duration: 0.25s;
  z-index: 1;
  // overflow: scroll;
}
#iframe-sml:hover{
  // width: 100%;
  // top: 0;
  transition-delay: 0.5s;
  transition-duration: 0.25s;

}

#iframe-div-lrg {
    width    : 200px;
    height   : 200px;
    overflow : hidden;
    position : relative;
    transition-duration: 0.25s;
}
#iframe-lrg {
    position : absolute;
    top      : -340px;
    left     : -20px;
    width: 500px;
}
#iframe-div-lrg:hover {
  // width: 500px;
  height: 300px;
  transition-delay: 0.5s;
  transition-duration: 0.25s;
  z-index: 1;

}
// #iframe-lrg:hover{
//   width: 100%;
//   top: 0;
//   transition-delay: 0.5s;
//   transition-duration: 0.25s;
//
// }
