header {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);


  #logo {
    fill: rgb(46, 105, 153);
    padding-top: 10px;
    align-items: center;
  }

  a {
    cursor: pointer;
  }
}

main {
  display: flex;
  padding-bottom: 2em;

  .sidebar {
    width: 300px;
    padding: 10px;

    // border-right: solid 5px lightgrey;


    .save-load-bldt {
      margin-bottom: 20px;
    }

    .search-text {
      margin-bottom: 20px;
    }

    .input-grp {
      margin-bottom: 20px;

      .gear-input {

      }

      .search-btn {

      }
    }
  }

  .bldt-area {
    background-image: url('../img/mtn-bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    // align-items: center;
    // overflow-x: scroll;
    // padding: 1em;

    .bldt-info {
      display: flex;
      justify-content: center;
      // align-items: center;
      .bldt-title {

      }

      .totals {
        margin-right: 5vw;
        display: flex;
        align-items: center;

      }

    }

    .head-row {
      padding-left: 155px;
      display: flex;
      height: 100px;


      .head-box {
        margin-right: 105px;
        border: 1px solid black;
      }
      // iframe:hover {
      //   width: 500px;
      //   height: 500px;
      // }
    }

    .torso-hands-row {
      display: flex;
      height: 200px;

      .hands-col {
        width: 100px;
        padding-left: 10px;

        .hands-box {
          border: 1px solid black;

        }

      }

      .torso-col {
        display: flex;

        .torso-box {
          border: 1px solid black;

        }

      }

    }

    .hand-legs-row {
      display: flex;
      height: 200px;


      .hand-col {
        width: 100px;
        padding-left: 10px;

        .hands-box {
          border: 1px solid black;

        }

      }

      .legs-col {
        display: flex;

        .legs-box {
          border: 1px solid black;

        }
      }
    }

    .feet-row {
      padding-left: 120px;
      display: flex;
      height: 100px;

      .feet-box {
        display: flex;
        margin-right: 20px;
        border: 1px solid black;

        .foot-box {

        }

        .shoe-box {

        }
      }
    }

  }
}

footer {
  text-align: center;
  background-color: lightgrey;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  padding: 0.25em;
}
